Repository oapi-codegen/oapi-codegen, pull requests merged in 2024-09, with the labels that each got.

#1748 Fix usage YAML example schema path in README.md
  README.md
Labels: documentation

#1750 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1761 docs: add link to OpenSSF Best Practices badge
  README.md
Labels: documentation

#1768 docs(sponsors): add Cybozu
  .github/sponsors/cybozu.svg
  README.md
Labels: documentation

#1720 feat(std-http): accept `Mux` interface instead of `*http.ServeMux`
  README.md
  examples/authenticated-api/stdhttp/api/api.gen.go
  examples/minimal-server/stdhttp/api/ping.gen.go
  examples/petstore-expanded/stdhttp/api/petstore.gen.go
  internal/test/strict-server/stdhttp/server.gen.go
  pkg/codegen/templates/stdhttp/std-http-handler.tmpl
Labels: enhancement

#1770 docs(tests): add an example of using `in: cookie`
  internal/test/cookies/config.yaml
  internal/test/cookies/cookies.gen.go
  internal/test/cookies/generate.go
  internal/test/cookies/spec.yaml
Labels: documentation

#1687 fix(cookies): wrap `cookie` variables in block scope
  internal/test/cookies/cookies.gen.go
  internal/test/cookies/spec.yaml
  pkg/codegen/templates/chi/chi-middleware.tmpl
  pkg/codegen/templates/gorilla/gorilla-middleware.tmpl
  pkg/codegen/templates/stdhttp/std-http-middleware.tmpl
Labels: bug

#1771 docs: remove `deepmap/oapi-codegen` references
  CONTRIBUTING.md
  README.md
  cmd/oapi-codegen/oapi-codegen.go
  configuration-schema.json
  examples/anyof-allof-oneof/api.yaml
  examples/custom-client-type/doc.go
  examples/only-models/api.yaml
  internal/test/issues/issue-1093/doc.go
  pkg/codegen/codegen_test.go
  pkg/codegen/configuration.go
  pkg/codegen/merge_schemas.go
  pkg/codegen/schema.go
  pkg/codegen/template_helpers.go
  pkg/codegen/test_specs/remote-external-reference.yaml
Labels: documentation

#1776 docs: correct wording of heading
  README.md
Labels: documentation

#1781 fix(import-mapping): don't produce unused variable when one mapping
  internal/test/externalref/externalref.gen.go
  internal/test/externalref/packageA/externalref.gen.go
  internal/test/externalref/petstore/externalref.gen.go
  internal/test/issues/issue-1093/api/child/child.gen.go
  internal/test/issues/issue-1182/pkg1/pkg1.gen.go
  internal/test/issues/issue-1212/pkg1/pkg1.gen.go
  internal/test/issues/issue-1378/bionicle/bionicle.gen.go
  internal/test/issues/issue-1378/fooservice/fooservice.gen.go
  pkg/codegen/templates/inline.tmpl
Labels: bug

#1784 build: remove patch version pinning on `go` directive
  examples/go.mod
  go.mod
  internal/test/go.mod
Labels: chore
