Repository oapi-codegen/oapi-codegen, pull requests merged in 2024-05, with the labels that each got.

#1585 fix: ensure we pre-import `nullable`
  internal/test/issues/issue-1039/types.gen.go
  pkg/codegen/templates/imports.tmpl
Labels: bug

#1588 chore(deps): remove dependency on `golang.org/x/lint`
  examples/minimal-server/stdhttp/go.sum
  examples/petstore-expanded/stdhttp/go.sum
  go.mod
  go.sum
  internal/test/go.sum
  internal/test/strict-server/stdhttp/go.sum
  pkg/codegen/codegen_test.go
Labels: chore

#1448 refactor: extension variable instead of accessing extensions directly
  pkg/codegen/operations.go
  pkg/codegen/schema.go
Labels: chore

#1616 docs(extensions): add missing `x-go-type-name` docs
  README.md
  examples/extensions/xgotypename/api.yaml
  examples/extensions/xgotypename/cfg.yaml
  examples/extensions/xgotypename/gen.go
  examples/extensions/xgotypename/generate.go
Labels: documentation

#1424 Simplify extensions merge in `mergeOpenapiSchemas`
  pkg/codegen/merge_schemas.go
Labels: chore

#1397 Bug: using x-go-type-name results in missing types
  internal/test/issues/issue-1397/config.yaml
  internal/test/issues/issue-1397/doc.go
  internal/test/issues/issue-1397/issue1397.gen.go
  internal/test/issues/issue-1397/spec.yaml
  pkg/codegen/codegen.go
  pkg/codegen/operations.go
  pkg/codegen/schema.go
Labels: bug
