Repository oapi-codegen/oapi-codegen, pull requests merged in 2024-01, with the labels that each got.

#1404 Allow generating `nullable.Nullable` for nullable properties
  internal/test/go.mod
  internal/test/go.sum
  internal/test/issues/issue-1039/client-config.yaml
  internal/test/issues/issue-1039/client.gen.go
  internal/test/issues/issue-1039/defaultbehaviour/defaultbehaviour_test.go
  internal/test/issues/issue-1039/defaultbehaviour/types.gen.go
  internal/test/issues/issue-1039/doc.go
  internal/test/issues/issue-1039/issue_test.go
  internal/test/issues/issue-1039/server-config.yaml
  internal/test/issues/issue-1039/server.gen.go
  internal/test/issues/issue-1039/spec.yaml
  internal/test/issues/issue-1039/type-config-defaultbehaviour.yaml
  internal/test/issues/issue-1039/types-config.yaml
  internal/test/issues/issue-1039/types.gen.go
  pkg/codegen/configuration.go
  pkg/codegen/schema.go
  pkg/codegen/schema_test.go
Labels: enhancement

#1398 refactor(cmd): Use os.Exit(1) only from main()
  cmd/oapi-codegen/oapi-codegen.go
Labels: bug

#1414 Fixes confusing indentation for example code in README.md
  README.md
Labels: documentation

#1246 Make arrays use concrete types, not aliases.
  internal/test/outputoptions/disabletypealiases/config.yaml
  internal/test/outputoptions/disabletypealiases/generate.go
  internal/test/outputoptions/disabletypealiases/spec.yaml
  internal/test/outputoptions/disabletypealiases/types.gen.go
  internal/test/outputoptions/disabletypealiases/types_ext.go
  pkg/codegen/configuration.go
  pkg/codegen/schema.go
  pkg/codegen/utils.go
Labels: enhancement
