Repository oapi-codegen/oapi-codegen, pull requests merged in 2024-07, with the labels that each got.

#1690 fix(oapi-codegen): add missing newline to error when swagger spec load fails (oapi-codegen#1688)
  cmd/oapi-codegen/oapi-codegen.go
Labels: bug

#1699 chore: make it possible to provide detailed config validation errors
  pkg/codegen/configuration.go
Labels: chore

#1707 Update speakeasy URL on oapi-codegen
  README.md
Labels: documentation

#1700 fix(extensions): use the `x-order` from next to `$ref`, if present
  internal/test/extensions/x-order/issue.gen.go
  internal/test/extensions/x-order/spec.yaml
  pkg/codegen/utils.go
Labels: bug, area:extensions
