Repository oapi-codegen/oapi-codegen, pull requests merged in 2024-11, with the labels that each got.

#1822 Handle leading underscores in property names
  internal/test/issues/issue-illegal_enum_names/issue.gen.go
  internal/test/issues/issue-illegal_enum_names/issue_test.go
  pkg/codegen/utils.go
  pkg/codegen/utils_test.go
Labels: bug

#1850 build: ensure separately named "Check results" steps
  .github/workflows/ci.yml
  .github/workflows/generate.yml
  .github/workflows/lint.yml
  .github/workflows/tidy.yml
Labels: chore

#1780 feat(client): Add `Bytes()` to `ClientWithResponses` responses
  configuration-schema.json
  internal/test/issues/issue240/api.yaml
  internal/test/issues/issue240/cfg.yaml
  internal/test/issues/issue240/client.gen.go
  internal/test/issues/issue240/generate.go
  pkg/codegen/configuration.go
  pkg/codegen/templates/client-with-responses.tmpl
Labels: enhancement

#1733 feat: allow specifying `additional-initialisms`
  configuration-schema.json
  internal/test/outputoptions/name-normalizer/to-camel-case-with-additional-initialisms/config.yaml
  internal/test/outputoptions/name-normalizer/to-camel-case-with-additional-initialisms/generate.go
  internal/test/outputoptions/name-normalizer/to-camel-case-with-additional-initialisms/name_normalizer.gen.go
  internal/test/outputoptions/name-normalizer/to-camel-case-with-additional-initialisms/name_normalizer_test.go
  pkg/codegen/codegen.go
  pkg/codegen/configuration.go
  pkg/codegen/utils.go
Labels: enhancement
