Repository oapi-codegen/oapi-codegen, pull requests merged in 2025-07, with the labels that each got.

#2013 Fix broken anchor link for validation middleware section
  README.md
Labels: documentation, auto:no-head-branch

#1994 fix: create directories if they do not exist before writing output file
  cmd/oapi-codegen/oapi-codegen.go
Labels: bug

#2025 docs(client): document known issue with duplicated `Response` models
  README.md
  examples/clienttypenameclash/api.yaml
  examples/clienttypenameclash/cfg.yaml
  examples/clienttypenameclash/client.gen.go
  examples/clienttypenameclash/generate.go
Labels: documentation

#2026 docs(additional-initialisms): add a usage example
  examples/output-options/additionalinitialisms/api.yaml
  examples/output-options/additionalinitialisms/cfg.yaml
  examples/output-options/additionalinitialisms/gen.go
  examples/output-options/additionalinitialisms/generate.go
Labels: documentation
