Repository oapi-codegen/oapi-codegen, pull requests merged in 2025-05, with the labels that each got.

#1966 docs: add example for how to downgrade OpenAPI 3.1 to 3.0
  README.md
Labels: documentation

#1970 Update the Speakeasy URL
  README.md
Labels: documentation

#1967 docs(std-http-server): warn when not using Go 1.22
  cmd/oapi-codegen/oapi-codegen.go
  go.mod
  pkg/codegen/configuration.go
  pkg/codegen/minimum_go_version.go
Labels: documentation

#610 fix: don't generate an "optional pointer" for unknown types
  internal/test/issues/issue609/config.yaml
  internal/test/issues/issue609/generate.go
  internal/test/issues/issue609/issue609.gen.go
  internal/test/issues/issue609/openapi.yaml
  pkg/codegen/schema.go
Labels: bug

#1694 feat(output-options): add `prefer-skip-optional-pointer` to default to skipping optional pointers
  README.md
  configuration-schema.json
  examples/output-options/preferskipoptionalpointer/api.yaml
  examples/output-options/preferskipoptionalpointer/cfg.yaml
  examples/output-options/preferskipoptionalpointer/gen.go
  examples/output-options/preferskipoptionalpointer/generate.go
  pkg/codegen/configuration.go
  pkg/codegen/schema.go
  pkg/codegen/templates/chi/chi-middleware.tmpl
  pkg/codegen/templates/echo/echo-wrappers.tmpl
  pkg/codegen/templates/fiber/fiber-middleware.tmpl
  pkg/codegen/templates/gin/gin-wrappers.tmpl
  pkg/codegen/templates/gorilla/gorilla-middleware.tmpl
  pkg/codegen/templates/iris/iris-middleware.tmpl
Labels: enhancement, notable changes

#1979 feat(output-options): add `prefer-skip-optional-pointer-on-container-types`
  configuration-schema.json
  internal/test/issues/issue1561/config.yaml
  internal/test/issues/issue1561/generate.go
  internal/test/issues/issue1561/issue1561.gen.go
  internal/test/issues/issue1561/issue1561_test.go
  internal/test/issues/issue1561/openapi.yaml
  pkg/codegen/configuration.go
  pkg/codegen/schema.go
Labels: enhancement

#1980 chore(tests): add additional test case for underscore naming
  internal/test/issues/issue1767/config.yaml
  internal/test/issues/issue1767/generate.go
  internal/test/issues/issue1767/issue1767.gen.go
  internal/test/issues/issue1767/openapi.yaml
Labels: documentation, chore
